@media (max-width: 920px) {
    .header {
        margin-bottom: 4.2rem;
    }
    .hero, .about, .delivery {
        margin-bottom: 7.5rem;
    }
    .hero, .delivery {
        &__inner {
            flex-direction: column-reverse;
        }
    }
    .hero {
        &__plus {
            &-item {
                justify-content: center;
            }
        }
        &__controls {
            justify-content: center;
        }
        &__button {
            margin-right: 2rem;
        }
    }
    .about {
        &__inner {
            flex-direction: column;
        }
    }
    .hero__info, .about__info, .delivery__info {
        display: flex;
        flex-direction: column;
    }
    button, .button:not(.hero__button) {
        margin: 0 auto;
    }
    .hero__title, .about__title, .delivery__title,
    .hero__description , .about__description , .delivery__description  {
        text-align: center;
    }
}
@media (max-width: 767px) {
    body {
        font-size: 1.6rem;
    }
    .header, .footer {
        font-size: 1.4rem;
    }
    .menu {
        &__item {
            margin: 0 1rem;
        }
    }
    .hero__title, .about__title, .delivery__title, .faq__title {
        font-size: 3.2rem;
    }
    .faq {
        .swipe {
            &__item {
                padding: 1.7rem 3.2rem 1.7rem 3.7rem;
            }
            &__title {
                font-size: 1.6rem;
            }
        }
    }
}
@media (max-width: 645px) {
    button, .button {
        padding: 1.5rem 4.4rem;
    }
    .hero, .about, .delivery {
        margin-bottom: 3.5rem;
    }
    .hero__title, .about__title, .delivery__title, .faq__title {
        font-size: 2.5rem;
    }
    .delivery {
        &__title {
            margin-bottom: 1rem;
        }
    }
    .about__description, .delivery__description {
        margin-bottom: 1.5rem;
    }
    .faq {
        &__title {
            margin-bottom: 2.3rem;
        }
    }
    .footer {
        &__inner {
            flex-direction: column;
        }
        .logo, .menu {
            margin-bottom: 1rem;
        }
    }
}
@media (max-width: 545px) {
    body {
        font-size: 1.4rem;
    }
    button, .button {
        padding: 1.1rem 4.4rem;
        font-size: 1.6rem;
    }
    .header {
        font-size: 1.2rem;
    }
    .hero {
        &__plus {
            &-icon {
                transform: scale(0.8);
            }
            &-text {
                font-size: 1.3rem;
            }
        }
        &__controls {
            flex-direction: column;
        }
        &__button {
            margin-right: 0;
            margin-bottom: 1rem;
        }
        .faq {
            .swipe {
                &__description {
                    font-size: 1.3rem;
                }
            }
        }
    }
    .menu {
        &__item {
            margin: 0 0.5rem;
        }
    }
    .faq {
        .swipe {
            &__title {
                font-size: 1.4rem;
            }
            &__title {
                &-icon {
                    svg {
                        transform: scale(0.7);
                    }
                }
            }
            
            &__item {
                &.active {
                    .swipe__title {
                        &-icon {
                            svg {
                                transform: scale(0.7) rotate(180deg);
                            }
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 420px) {
    .header {
        .menu {
            display: none;
        }
        .logo {
            margin: 0 auto;
        }
    }
    .footer {
        font-size: 1.34rem;
        .menu {
            &__item {
                margin: 0 0.21rem;
            }
        }
    }
}