
@media (max-width: 920px) {
    .title {
        text-align: center;
    }
    .box {
        margin-bottom: 7.5rem;
    }
    .box__inner {
        flex-direction: column;
    }
    .box__info {
        display: flex;
    }
    .hero__item {
        justify-content: center;
    }
    .hero .box__inner,
    .delivery .box__inner {
        flex-direction: column-reverse;
    }
    .hero__controls {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .about__description,
    .delivery__description {
        text-align: center;
    }
    .box .button:not(.hero__button) {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
    .about__title {
        margin-bottom: 2rem;
    }
    .about__description {
        margin-bottom: 4rem;
    }
}
@media (max-width: 850px) {
    .menu__link,
    .header,
    .footer {
        font-size: 1.4rem;
    }
}
@media (max-width: 792px) {
    .footer .menu__item {
        margin: 0 1rem;
    }
}
@media (max-width: 701px) {
    body {
        font-size: 1.4rem;
    }
    .title {
        font-size: 2.8rem;
    }
    .header {
        margin-bottom: 4.2rem;
    }
    .hero__title {
        margin-bottom: 2.1rem;
    }
    .faq .swipe__item {
        padding: 1.7rem 3.5rem;
    }
    .footer__inner {
        flex-direction: column;
    }
    .footer .logo,
    .footer .menu  {
        margin: 0 auto;
        margin-bottom: 1rem;
    }
}
@media (max-width: 625px) {
    .header .menu__link {
        font-size: 1.2rem;
    }
    .hero__controls {
        flex-direction: column;
    }
    .hero__button {
        margin-right: 0;
        margin-bottom: 1rem;
    }
}
@media (max-width: 579px) {
    .header .menu__item {
        margin: 0 1rem;
    }
}
@media (max-width: 490px) {
    .faq .swipe__title {
        font-size: 1.2rem;
    }
}
@media (max-width: 480px) {
    .header {
        padding: 2.5rem 0;
    }
    .modal__content {
        padding: 2.6rem 3.7rem;
    }
    .faq .swipe__item {
        padding: 1.7rem 1.5rem;
    }
    .swipe__title {
        font-size: 1.3rem;
    }
    .faq .swipe__title {
        margin-right: 1.5rem;
    }
    .header .logo {
        margin: 0 auto;
    }
    .header .menu {
        display: none;
    }
    .footer .menu__item {
        margin: 0 0.5rem;
    }
}
@media (max-width: 370px) {
    .modal__content {
        padding: 2.6rem 2.7rem;
    }
    .footer .menu__link {
        font-size: 1.1rem;
    }
    .swipe__title {
        font-size: 1.2rem;
    }
}